In [1]:
import os
import pandas as pd
from sklearn.preprocessing import StandardScaler
import sklearn as skl
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.1.3'

os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:6 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:7 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:8 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [91.7 kB]
Hit:9 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:10 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:15 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,099 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,965 kB]
Get:17 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,076 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,540 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,131 kB]
Get:20 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,172 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,396 kB]
Fetched 13.8 MB in 7s (1,861 kB/s)
Reading package lists... Done

In [2]:
# Connect to Postgres
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2022-09-08 00:18:00--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  5.44MB/s    in 0.2s

2022-09-08 00:18:01 (5.44 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [3]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [4]:
# Read the data from s3 bucket
from pyspark import SparkFiles
# Load in amazon luggage.tsv from S3 into a DataFrame
url = "https://shoppingproject4.s3.amazonaws.com/marketing_campaign.csv"
spark.sparkContext.addFile(url)

df = spark.read.option('header', 'true').csv(SparkFiles.get("marketing_campaign.csv"), inferSchema=True, sep=',', timestampFormat="yyyy-mm-dd")
df.show(10)

+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|Graduation|        Single| 58138|      0|       0|     4/9/12|     58|     635|       88|            546|            172|              88|          88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|2174|      1954|Graduation|        Single| 46344|      1|       1|     8/3/14|     38|      11|        1|              6|              2|               1|           6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4141|      1965|Graduation|      Together| 71613|      0|       0| 21-08-2013|     26|     426|       49|            127|            111|              21|          42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6182|      1984|Graduation|      Together| 26646|      1|       0|    10/2/14|     26|      11|        4|             20|             10|               3|           5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|5324|      1981|       PhD|       Married| 58293|      1|       0| 19-01-2014|     94|     173|       43|            118|             46|              27|          15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|7446|      1967|    Master|      Together| 62513|      0|       1|     9/9/13|     16|     520|       42|             98|              0|              42|          14|                2|              6|                  4|               10|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 965|      1971|Graduation|      Divorced| 55635|      0|       1| 13-11-2012|     34|     235|       65|            164|             50|              49|          27|                4|              7|                  3|                7|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6177|      1985|       PhD|       Married| 33454|      1|       0|     8/5/13|     32|      76|       10|             56|              3|               1|          23|                2|              4|                  0|                4|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4855|      1974|       PhD|      Together| 30351|      1|       0|     6/6/13|     19|      14|        0|             24|              3|               3|           2|                1|              3|                  0|                2|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|5899|      1950|       PhD|      Together|  5648|      1|       1| 13-03-2014|     68|      28|        0|              6|              1|               1|          13|                1|              1|                  0|                0|               20|           1|           0|           0|           0|           0|       0|            3|       11|       0|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 10 rows

In [5]:
# read data into a pandas dataframe
pandas_df = df.toPandas() 
pandas_df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,4/9/12,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,8/3/14,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10/2/14,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [6]:
# Check for null values
for column in pandas_df.columns:
    print(f"Column {column} has {pandas_df[column].isnull().sum()} null values")

Column ID has 0 null values
Column Year_Birth has 0 null values
Column Education has 0 null values
Column Marital_Status has 0 null values
Column Income has 24 null values
Column Kidhome has 0 null values
Column Teenhome has 0 null values
Column Dt_Customer has 0 null values
Column Recency has 0 null values
Column MntWines has 0 null values
Column MntFruits has 0 null values
Column MntMeatProducts has 0 null values
Column MntFishProducts has 0 null values
Column MntSweetProducts has 0 null values
Column MntGoldProds has 0 null values
Column NumDealsPurchases has 0 null values
Column NumWebPurchases has 0 null values
Column NumCatalogPurchases has 0 null values
Column NumStorePurchases has 0 null values
Column NumWebVisitsMonth has 0 null values
Column AcceptedCmp3 has 0 null values
Column AcceptedCmp4 has 0 null values
Column AcceptedCmp5 has 0 null values
Column AcceptedCmp1 has 0 null values
Column AcceptedCmp2 has 0 null values
Column Complain has 0 null values
Column Z_CostContact has 0 null values
Column Z_Revenue has 0 null values
Column Response has 0 null values

In [7]:
# Drop all null values
new_df = pandas_df.dropna()
new_df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,4/9/12,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,8/3/14,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10/2/14,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10/6/14,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [8]:
# Find duplicate entries
print(f"Duplicate entries: {new_df.duplicated().sum()}")

Duplicate entries: 0

In [9]:
# Drop columns
_df = new_df.drop(['Dt_Customer'], axis=1)
_df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,58,635,88,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,38,11,1,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,26,426,49,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,26,11,4,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,94,173,43,...,5,0,0,0,0,0,0,3,11,0

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_df = pd.get_dummies(_df)
dummy_df

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,Education_Master,Education_PhD,Marital_Status_Absurd,Marital_Status_Alone,Marital_Status_Divorced,Marital_Status_Married,Marital_Status_Single,Marital_Status_Together,Marital_Status_Widow,Marital_Status_YOLO
0,5524,1957,58138.0,0,0,58,635,88,546,172,...,0,0,0,0,0,0,1,0,0,0
1,2174,1954,46344.0,1,1,38,11,1,6,2,...,0,0,0,0,0,0,1,0,0,0
2,4141,1965,71613.0,0,0,26,426,49,127,111,...,0,0,0,0,0,0,0,1,0,0
3,6182,1984,26646.0,1,0,26,11,4,20,10,...,0,0,0,0,0,0,0,1,0,0
4,5324,1981,58293.0,1,0,94,173,43,118,46,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,61223.0,0,1,46,709,43,182,42,...,0,0,0,0,0,1,0,0,0,0
2236,4001,1946,64014.0,2,1,56,406,0,30,0,...,0,1,0,0,0,0,0,1,0,0
2237,7270,1981,56981.0,0,0,91,908,48,217,32,...,0,0,0,0,1,0,0,0,0,0
2238,8235,1956,69245.0,0,1,8,428,30,214,80,...,1,0,0,0,0,0,0,1,0,0
2239,9405,1954,52869.0,1,1,40,84,3,61,2,...,0,1,0,0,0,1,0,0,0,0

In [11]:
 # Split our preprocessed data into our features and target arrays
y = dummy_df["Response"]
X = dummy_df.drop(["Response"],axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Get the R-squared/R-Score
# Train the linear regression model
lr = LinearRegression()
lr.fit(X, y)
y_pred = lr.predict(X)

# print score
r2_score(y, y_pred)

0.31534625947754125

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 30
hidden_nodes_layer2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))


# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 30)                1170

 dense_13 (Dense)            (None, 20)                620

 dense_14 (Dense)            (None, 1)                 21

=================================================================
Total params: 1,811
Trainable params: 1,811
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
52/52 [==============================] - 1s 2ms/step - loss: 0.5158 - accuracy: 0.8051
Epoch 2/100
52/52 [==============================] - 0s 2ms/step - loss: 0.3828 - accuracy: 0.8550
Epoch 3/100
52/52 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8706
Epoch 4/100
52/52 [==============================] - 0s 2ms/step - loss: 0.3067 - accuracy: 0.8797
Epoch 5/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2872 - accuracy: 0.8851
Epoch 6/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2722 - accuracy: 0.8887
Epoch 7/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2608 - accuracy: 0.8935
Epoch 8/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2520 - accuracy: 0.9019
Epoch 9/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2451 - accuracy: 0.8971
Epoch 10/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2400 - accuracy: 0.9007
Epoch 11/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2331 - accuracy: 0.9061
Epoch 12/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2290 - accuracy: 0.9073
Epoch 13/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2239 - accuracy: 0.9085
Epoch 14/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2203 - accuracy: 0.9091
Epoch 15/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2158 - accuracy: 0.9128
Epoch 16/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2112 - accuracy: 0.9122
Epoch 17/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2089 - accuracy: 0.9097
Epoch 18/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2036 - accuracy: 0.9188
Epoch 19/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2004 - accuracy: 0.9164
Epoch 20/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1957 - accuracy: 0.9230
Epoch 21/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1937 - accuracy: 0.9224
Epoch 22/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1903 - accuracy: 0.9236
Epoch 23/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1864 - accuracy: 0.9260
Epoch 24/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1831 - accuracy: 0.9284
Epoch 25/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1793 - accuracy: 0.9314
Epoch 26/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1765 - accuracy: 0.9356
Epoch 27/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1740 - accuracy: 0.9326
Epoch 28/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1682 - accuracy: 0.9350
Epoch 29/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1646 - accuracy: 0.9392
Epoch 30/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1617 - accuracy: 0.9392
Epoch 31/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1600 - accuracy: 0.9368
Epoch 32/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1558 - accuracy: 0.9416
Epoch 33/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1523 - accuracy: 0.9410
Epoch 34/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1519 - accuracy: 0.9440
Epoch 35/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1481 - accuracy: 0.9446
Epoch 36/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1433 - accuracy: 0.9446
Epoch 37/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1405 - accuracy: 0.9483
Epoch 38/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1380 - accuracy: 0.9507
Epoch 39/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1355 - accuracy: 0.9495
Epoch 40/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1323 - accuracy: 0.9543
Epoch 41/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1295 - accuracy: 0.9543
Epoch 42/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1266 - accuracy: 0.9555
Epoch 43/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1249 - accuracy: 0.9561
Epoch 44/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1218 - accuracy: 0.9591
Epoch 45/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1194 - accuracy: 0.9603
Epoch 46/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1163 - accuracy: 0.9597
Epoch 47/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1136 - accuracy: 0.9621
Epoch 48/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1108 - accuracy: 0.9621
Epoch 49/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1085 - accuracy: 0.9645
Epoch 50/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1077 - accuracy: 0.9627
Epoch 51/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1043 - accuracy: 0.9639
Epoch 52/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1034 - accuracy: 0.9633
Epoch 53/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1005 - accuracy: 0.9663
Epoch 54/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0983 - accuracy: 0.9693
Epoch 55/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0982 - accuracy: 0.9645
Epoch 56/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0944 - accuracy: 0.9687
Epoch 57/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0928 - accuracy: 0.9675
Epoch 58/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0885 - accuracy: 0.9693
Epoch 59/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0896 - accuracy: 0.9699
Epoch 60/100
52/52 [==============================] - 0s 1ms/step - loss: 0.0860 - accuracy: 0.9717
Epoch 61/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0843 - accuracy: 0.9735
Epoch 62/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0848 - accuracy: 0.9729
Epoch 63/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0813 - accuracy: 0.9753
Epoch 64/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0790 - accuracy: 0.9741
Epoch 65/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0762 - accuracy: 0.9759
Epoch 66/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0748 - accuracy: 0.9759
Epoch 67/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0737 - accuracy: 0.9759
Epoch 68/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0736 - accuracy: 0.9771
Epoch 69/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0720 - accuracy: 0.9747
Epoch 70/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0692 - accuracy: 0.9789
Epoch 71/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0675 - accuracy: 0.9777
Epoch 72/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0663 - accuracy: 0.9771
Epoch 73/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0647 - accuracy: 0.9777
Epoch 74/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0629 - accuracy: 0.9807
Epoch 75/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0623 - accuracy: 0.9813
Epoch 76/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0602 - accuracy: 0.9807
Epoch 77/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0588 - accuracy: 0.9832
Epoch 78/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0587 - accuracy: 0.9807
Epoch 79/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0575 - accuracy: 0.9826
Epoch 80/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0564 - accuracy: 0.9795
Epoch 81/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0550 - accuracy: 0.9832
Epoch 82/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0529 - accuracy: 0.9844
Epoch 83/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0526 - accuracy: 0.9862
Epoch 84/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0512 - accuracy: 0.9832
Epoch 85/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0498 - accuracy: 0.9868
Epoch 86/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0510 - accuracy: 0.9844
Epoch 87/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0490 - accuracy: 0.9850
Epoch 88/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0485 - accuracy: 0.9856
Epoch 89/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0478 - accuracy: 0.9844
Epoch 90/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0473 - accuracy: 0.9874
Epoch 91/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0441 - accuracy: 0.9862
Epoch 92/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0433 - accuracy: 0.9880
Epoch 93/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0455 - accuracy: 0.9844
Epoch 94/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0424 - accuracy: 0.9868
Epoch 95/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0418 - accuracy: 0.9886
Epoch 96/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0415 - accuracy: 0.9874
Epoch 97/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0388 - accuracy: 0.9892
Epoch 98/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0400 - accuracy: 0.9880
Epoch 99/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0419 - accuracy: 0.9874
Epoch 100/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0378 - accuracy: 0.9898

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

18/18 - 0s - loss: 0.6167 - accuracy: 0.8755 - 139ms/epoch - 8ms/step
Loss: 0.6167114973068237, Accuracy: 0.8754512667655945

In [ ]:
# Configuration for RDS instance
mode="append"
jdbc_url = "jdbc:postgresql://shopping.cewyyswlridi.us-east-1.rds.amazonaws.com:5432/shopping"
config = {"user":"username",
          "password": "password",
          "driver":"org.postgresql.Driver"}

In [ ]:
# Create Spark DataFrame
sparkDF=spark.createDataFrame(dummy_df)

In [ ]:
# Visualize the DataFrame
sparkDF.show(10)

+----+----------+---------+--------------+-------+-------+--------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth|Education|Marital_Status| Income|Kidhome|Teenhome|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+---------+--------------+-------+-------+--------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|        1|             1|58138.0|      0|       0|     58|     635|       88|            546|            172|              88|          88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|2174|      1954|        1|             1|46344.0|      1|       1|     38|      11|        1|              6|              2|               1|           6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4141|      1965|        1|             2|71613.0|      0|       0|     26|     426|       49|            127|            111|              21|          42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6182|      1984|        1|             2|26646.0|      1|       0|     26|      11|        4|             20|             10|               3|           5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|5324|      1981|        2|             3|58293.0|      1|       0|     94|     173|       43|            118|             46|              27|          15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|7446|      1967|        3|             2|62513.0|      0|       1|     16|     520|       42|             98|              0|              42|          14|                2|              6|                  4|               10|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 965|      1971|        1|             4|55635.0|      0|       1|     34|     235|       65|            164|             50|              49|          27|                4|              7|                  3|                7|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6177|      1985|        2|             3|33454.0|      1|       0|     32|      76|       10|             56|              3|               1|          23|                2|              4|                  0|                4|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4855|      1974|        2|             2|30351.0|      1|       0|     19|      14|        0|             24|              3|               3|           2|                1|              3|                  0|                2|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|5899|      1950|        2|             2| 5648.0|      1|       1|     68|      28|        0|              6|              1|               1|          13|                1|              1|                  0|                0|               20|           1|           0|           0|           0|           0|       0|            3|       11|       0|
+----+----------+---------+--------------+-------+-------+--------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 10 rows

In [ ]:
# Pass data to SQL table
sparkDF.write.jdbc(url=jdbc_url, table='clean_shopping', mode=mode, properties=config)