In [2]:
import os
import pandas as pd
from sklearn.preprocessing import StandardScaler
import sklearn as skl
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.1.3'

os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:4 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:13 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,540 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,953 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,114 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,390 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,162 kB]
Fetched 10.4 MB in 3s (3,136 kB/s)
Reading package lists... Done

In [3]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2022-09-01 22:11:00--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  5.73MB/s    in 0.2s

2022-09-01 22:11:01 (5.73 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [4]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [6]:
from pyspark import SparkFiles
# Load in amazon luggage.tsv from S3 into a DataFrame
url = "https://shoppingproject4.s3.amazonaws.com/marketing_campaign.csv"
spark.sparkContext.addFile(url)

df = spark.read.option('header', 'true').csv(SparkFiles.get("marketing_campaign.csv"), inferSchema=True, sep=',', timestampFormat="yyyy-mm-dd")
df.show(10)

+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|Graduation|        Single| 58138|      0|       0|     4/9/12|     58|     635|       88|            546|            172|              88|          88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|2174|      1954|Graduation|        Single| 46344|      1|       1|     8/3/14|     38|      11|        1|              6|              2|               1|           6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4141|      1965|Graduation|      Together| 71613|      0|       0| 21-08-2013|     26|     426|       49|            127|            111|              21|          42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6182|      1984|Graduation|      Together| 26646|      1|       0|    10/2/14|     26|      11|        4|             20|             10|               3|           5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|5324|      1981|       PhD|       Married| 58293|      1|       0| 19-01-2014|     94|     173|       43|            118|             46|              27|          15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|7446|      1967|    Master|      Together| 62513|      0|       1|     9/9/13|     16|     520|       42|             98|              0|              42|          14|                2|              6|                  4|               10|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 965|      1971|Graduation|      Divorced| 55635|      0|       1| 13-11-2012|     34|     235|       65|            164|             50|              49|          27|                4|              7|                  3|                7|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6177|      1985|       PhD|       Married| 33454|      1|       0|     8/5/13|     32|      76|       10|             56|              3|               1|          23|                2|              4|                  0|                4|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4855|      1974|       PhD|      Together| 30351|      1|       0|     6/6/13|     19|      14|        0|             24|              3|               3|           2|                1|              3|                  0|                2|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|5899|      1950|       PhD|      Together|  5648|      1|       1| 13-03-2014|     68|      28|        0|              6|              1|               1|          13|                1|              1|                  0|                0|               20|           1|           0|           0|           0|           0|       0|            3|       11|       0|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 10 rows

In [8]:
pandas_df = df.toPandas() 
pandas_df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,4/9/12,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,8/3/14,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10/2/14,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [11]:
for column in pandas_df.columns:
    print(f"Column {column} has {pandas_df[column].isnull().sum()} null values")

Column ID has 0 null values
Column Year_Birth has 0 null values
Column Education has 0 null values
Column Marital_Status has 0 null values
Column Income has 24 null values
Column Kidhome has 0 null values
Column Teenhome has 0 null values
Column Dt_Customer has 0 null values
Column Recency has 0 null values
Column MntWines has 0 null values
Column MntFruits has 0 null values
Column MntMeatProducts has 0 null values
Column MntFishProducts has 0 null values
Column MntSweetProducts has 0 null values
Column MntGoldProds has 0 null values
Column NumDealsPurchases has 0 null values
Column NumWebPurchases has 0 null values
Column NumCatalogPurchases has 0 null values
Column NumStorePurchases has 0 null values
Column NumWebVisitsMonth has 0 null values
Column AcceptedCmp3 has 0 null values
Column AcceptedCmp4 has 0 null values
Column AcceptedCmp5 has 0 null values
Column AcceptedCmp1 has 0 null values
Column AcceptedCmp2 has 0 null values
Column Complain has 0 null values
Column Z_CostContact has 0 null values
Column Z_Revenue has 0 null values
Column Response has 0 null values

In [12]:
# Drop all null values
new_df = pandas_df.dropna()
new_df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,4/9/12,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,8/3/14,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10/2/14,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10/6/14,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [13]:
# Find duplicate entries
print(f"Duplicate entries: {new_df.duplicated().sum()}")

Duplicate entries: 0

In [14]:
#Print all unique values
new_df['Education'].unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

In [15]:
# Transform categorical values to numerical
def changeeducation(edu):
    if edu == "Graduation":
        return 1
    elif edu == 'PhD':
        return 2
    elif edu == 'Master':
        return 3
    elif edu == 'Basic':
        return 4
    else:
        return 0

In [16]:
new_df["Education"] = new_df["Education"].apply(changeeducation)
new_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,1,Single,58138.0,0,0,4/9/12,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,1,Single,46344.0,1,1,8/3/14,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,1,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,1,Together,26646.0,1,0,10/2/14,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,2,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [17]:
#Check numerical values
new_df['Education'].unique()

array([1, 2, 3, 4, 0])

In [18]:
#Print unique values
new_df['Marital_Status'].unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

In [19]:
 # Transform categorical values to numerical
def changestatus(marital):
    if marital == "Single":
        return 1
    elif marital == 'Together':
        return 2
    elif marital == 'Married':
        return 3
    elif marital == 'Divorced':
        return 4
    elif marital == 'Widow':
        return 5
    elif marital == 'Alone':
        return 6
    elif marital == 'Absurd':
        return 7
    else:
        return 0

new_df["Marital_Status"] = new_df["Marital_Status"].apply(changestatus)
new_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,1,1,58138.0,0,0,4/9/12,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,1,1,46344.0,1,1,8/3/14,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,1,2,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,1,2,26646.0,1,0,10/2/14,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,2,3,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [20]:
# Check new values
new_df['Marital_Status'].unique()

array([1, 2, 3, 4, 5, 6, 7, 0])

In [21]:
# Drop columns
_df = new_df.drop(['Dt_Customer'], axis=1)
_df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,1,1,58138.0,0,0,58,635,88,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,1,1,46344.0,1,1,38,11,1,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,1,2,71613.0,0,0,26,426,49,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,1,2,26646.0,1,0,26,11,4,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,2,3,58293.0,1,0,94,173,43,...,5,0,0,0,0,0,0,3,11,0

In [22]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_df = pd.get_dummies(_df)
dummy_df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,1,1,58138.0,0,0,58,635,88,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,1,1,46344.0,1,1,38,11,1,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,1,2,71613.0,0,0,26,426,49,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,1,2,26646.0,1,0,26,11,4,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,2,3,58293.0,1,0,94,173,43,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,1,3,61223.0,0,1,46,709,43,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,2,2,64014.0,2,1,56,406,0,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,1,4,56981.0,0,0,91,908,48,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,3,2,69245.0,0,1,8,428,30,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,2,3,52869.0,1,1,40,84,3,...,7,0,0,0,0,0,0,3,11,1

In [23]:
# Train the linear regression model
y = dummy_df["Response"]
X = dummy_df.drop(["Response"],axis=1)
rf = LinearRegression()
rf.fit(X, y)
y_pred = rf.predict(X)

In [24]:
# print score
r2_score(y, y_pred)

0.28635585974620725

In [25]:
 # Split our preprocessed data into our features and target arrays
y = dummy_df["Response"]
X = dummy_df.drop(["Response"],axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [26]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))


# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                2240

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 4,701
Trainable params: 4,701
Non-trainable params: 0
_________________________________________________________________

In [28]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [29]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
52/52 [==============================] - 1s 2ms/step - loss: 0.5213 - accuracy: 0.7629
Epoch 2/100
52/52 [==============================] - 0s 3ms/step - loss: 0.3497 - accuracy: 0.8718
Epoch 3/100
52/52 [==============================] - 0s 2ms/step - loss: 0.3022 - accuracy: 0.8839
Epoch 4/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2792 - accuracy: 0.8947
Epoch 5/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2639 - accuracy: 0.9007
Epoch 6/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2548 - accuracy: 0.9049
Epoch 7/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2444 - accuracy: 0.9067
Epoch 8/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2371 - accuracy: 0.9073
Epoch 9/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2279 - accuracy: 0.9122
Epoch 10/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2239 - accuracy: 0.9164
Epoch 11/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2167 - accuracy: 0.9176
Epoch 12/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2111 - accuracy: 0.9212
Epoch 13/100
52/52 [==============================] - 0s 2ms/step - loss: 0.2047 - accuracy: 0.9242
Epoch 14/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1982 - accuracy: 0.9242
Epoch 15/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1935 - accuracy: 0.9266
Epoch 16/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1872 - accuracy: 0.9242
Epoch 17/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1799 - accuracy: 0.9314
Epoch 18/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1767 - accuracy: 0.9284
Epoch 19/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1697 - accuracy: 0.9386
Epoch 20/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1643 - accuracy: 0.9374
Epoch 21/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1574 - accuracy: 0.9410
Epoch 22/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1529 - accuracy: 0.9428
Epoch 23/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1450 - accuracy: 0.9507
Epoch 24/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1431 - accuracy: 0.9513
Epoch 25/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1347 - accuracy: 0.9591
Epoch 26/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1315 - accuracy: 0.9525
Epoch 27/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1305 - accuracy: 0.9567
Epoch 28/100
52/52 [==============================] - 0s 3ms/step - loss: 0.1245 - accuracy: 0.9579
Epoch 29/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1197 - accuracy: 0.9579
Epoch 30/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1139 - accuracy: 0.9633
Epoch 31/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1087 - accuracy: 0.9651
Epoch 32/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1050 - accuracy: 0.9663
Epoch 33/100
52/52 [==============================] - 0s 2ms/step - loss: 0.1005 - accuracy: 0.9693
Epoch 34/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0959 - accuracy: 0.9705
Epoch 35/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0949 - accuracy: 0.9693
Epoch 36/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0916 - accuracy: 0.9687
Epoch 37/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0890 - accuracy: 0.9705
Epoch 38/100
52/52 [==============================] - 0s 3ms/step - loss: 0.0839 - accuracy: 0.9723
Epoch 39/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0799 - accuracy: 0.9753
Epoch 40/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0777 - accuracy: 0.9777
Epoch 41/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0747 - accuracy: 0.9771
Epoch 42/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0755 - accuracy: 0.9747
Epoch 43/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0687 - accuracy: 0.9813
Epoch 44/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0717 - accuracy: 0.9771
Epoch 45/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0656 - accuracy: 0.9813
Epoch 46/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0665 - accuracy: 0.9819
Epoch 47/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0620 - accuracy: 0.9819
Epoch 48/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0616 - accuracy: 0.9826
Epoch 49/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0589 - accuracy: 0.9832
Epoch 50/100
52/52 [==============================] - 0s 6ms/step - loss: 0.0546 - accuracy: 0.9868
Epoch 51/100
52/52 [==============================] - 0s 7ms/step - loss: 0.0580 - accuracy: 0.9807
Epoch 52/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0517 - accuracy: 0.9868
Epoch 53/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0513 - accuracy: 0.9844
Epoch 54/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0505 - accuracy: 0.9850
Epoch 55/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0468 - accuracy: 0.9868
Epoch 56/100
52/52 [==============================] - 0s 8ms/step - loss: 0.0550 - accuracy: 0.9844
Epoch 57/100
52/52 [==============================] - 0s 3ms/step - loss: 0.0499 - accuracy: 0.9862
Epoch 58/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0458 - accuracy: 0.9868
Epoch 59/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0432 - accuracy: 0.9898
Epoch 60/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0411 - accuracy: 0.9892
Epoch 61/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0428 - accuracy: 0.9850
Epoch 62/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0391 - accuracy: 0.9868
Epoch 63/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0366 - accuracy: 0.9922
Epoch 64/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0383 - accuracy: 0.9892
Epoch 65/100
52/52 [==============================] - 0s 3ms/step - loss: 0.0366 - accuracy: 0.9898
Epoch 66/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0354 - accuracy: 0.9898
Epoch 67/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0380 - accuracy: 0.9886
Epoch 68/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0341 - accuracy: 0.9898
Epoch 69/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0333 - accuracy: 0.9910
Epoch 70/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0319 - accuracy: 0.9904
Epoch 71/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0352 - accuracy: 0.9910
Epoch 72/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0326 - accuracy: 0.9910
Epoch 73/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0294 - accuracy: 0.9904
Epoch 74/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0329 - accuracy: 0.9916
Epoch 75/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0311 - accuracy: 0.9886
Epoch 76/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0308 - accuracy: 0.9916
Epoch 77/100
52/52 [==============================] - 0s 3ms/step - loss: 0.0279 - accuracy: 0.9910
Epoch 78/100
52/52 [==============================] - 0s 3ms/step - loss: 0.0272 - accuracy: 0.9934
Epoch 79/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0285 - accuracy: 0.9916
Epoch 80/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0249 - accuracy: 0.9928
Epoch 81/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0245 - accuracy: 0.9934
Epoch 82/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0261 - accuracy: 0.9922
Epoch 83/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0280 - accuracy: 0.9910
Epoch 84/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0261 - accuracy: 0.9904
Epoch 85/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0237 - accuracy: 0.9934
Epoch 86/100
52/52 [==============================] - 0s 3ms/step - loss: 0.0296 - accuracy: 0.9904
Epoch 87/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0266 - accuracy: 0.9904
Epoch 88/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0282 - accuracy: 0.9928
Epoch 89/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0214 - accuracy: 0.9922
Epoch 90/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0195 - accuracy: 0.9964
Epoch 91/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0198 - accuracy: 0.9934
Epoch 92/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0219 - accuracy: 0.9940
Epoch 93/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0211 - accuracy: 0.9958
Epoch 94/100
52/52 [==============================] - 0s 3ms/step - loss: 0.0246 - accuracy: 0.9922
Epoch 95/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0212 - accuracy: 0.9928
Epoch 96/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0189 - accuracy: 0.9946
Epoch 97/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0184 - accuracy: 0.9958
Epoch 98/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0184 - accuracy: 0.9952
Epoch 99/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0195 - accuracy: 0.9928
Epoch 100/100
52/52 [==============================] - 0s 2ms/step - loss: 0.0183 - accuracy: 0.9928

In [30]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

18/18 - 0s - loss: 0.7650 - accuracy: 0.8502 - 161ms/epoch - 9ms/step
Loss: 0.76503586769104, Accuracy: 0.8501805067062378

In [43]:
# Configuration for RDS instance
mode="append"
jdbc_url = "jdbc:postgresql://shopping.cewyyswlridi.us-east-1.rds.amazonaws.com:5432/shopping"
config = {"user":"root",
          "password": "shoppingfour",
          "driver":"org.postgresql.Driver"}

In [44]:
sparkDF=spark.createDataFrame(dummy_df)

In [45]:
sparkDF.show(10)

+----+----------+---------+--------------+-------+-------+--------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth|Education|Marital_Status| Income|Kidhome|Teenhome|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+---------+--------------+-------+-------+--------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|        1|             1|58138.0|      0|       0|     58|     635|       88|            546|            172|              88|          88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|2174|      1954|        1|             1|46344.0|      1|       1|     38|      11|        1|              6|              2|               1|           6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4141|      1965|        1|             2|71613.0|      0|       0|     26|     426|       49|            127|            111|              21|          42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6182|      1984|        1|             2|26646.0|      1|       0|     26|      11|        4|             20|             10|               3|           5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|5324|      1981|        2|             3|58293.0|      1|       0|     94|     173|       43|            118|             46|              27|          15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|7446|      1967|        3|             2|62513.0|      0|       1|     16|     520|       42|             98|              0|              42|          14|                2|              6|                  4|               10|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 965|      1971|        1|             4|55635.0|      0|       1|     34|     235|       65|            164|             50|              49|          27|                4|              7|                  3|                7|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6177|      1985|        2|             3|33454.0|      1|       0|     32|      76|       10|             56|              3|               1|          23|                2|              4|                  0|                4|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4855|      1974|        2|             2|30351.0|      1|       0|     19|      14|        0|             24|              3|               3|           2|                1|              3|                  0|                2|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|5899|      1950|        2|             2| 5648.0|      1|       1|     68|      28|        0|              6|              1|               1|          13|                1|              1|                  0|                0|               20|           1|           0|           0|           0|           0|       0|            3|       11|       0|
+----+----------+---------+--------------+-------+-------+--------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 10 rows

In [46]:
sparkDF.write.jdbc(url=jdbc_url, table='clean_shopping', mode=mode, properties=config)